* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $primary-color-dark;
  color: $light-color;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
