// variables
$primary-color: #3c6287;
$primary-color-light: #5486b8;
$primary-color-dark: #2f4c69;
$secondary-color: #068b49;
$dark-color: #1b262c;
$light-color: #fcfcfc;
$danger-color: #dc3545;
$success-color: #28a745;
